<page-hero />
<section>
    <div class="w-full lg:w-[70%] mx-auto p-5 lg:py-32">
        <div class="flex flex-col lg:flex-row items-start gap-10 xl:gap-20 my-20 w-full">
            <div class="w-full lg:basis-2/5">
                <h4 class="text-2xl lg:text-4xl  font-bold text-center lg:text-left">Reach out to us</h4>
                <p class="lg:max-w-md my-5">Enquries, complains &amp; feedback. Feel free to reach us with any of the
                    channels.</p>
                <div class="flex flex-col gap-5 mb-10 ">
                    <div class="flex items-start gap-5 border p-5">
                        <span class="rounded-full h-16 w-16 items-center justify-center flex bg-primary">
                            <span class="material-symbols-outlined text-white"
                                style="font-size: 40px;">contact_support</span>
                        </span>
                        <span class="flex flex-col flex-1">
                            <h4 class="font-bold text-base lg:text-lg capitalize">general</h4>
                            <p class="opacity-80 text-sm font-normal mt-1">Enquiry: info&#64;nigerialpgas.com</p>
                            <p class="opacity-80 text-sm font-normal mt-1">Enquiry: support&#64;nigerialpgas.com</p>
                            <p class="opacity-80 text-sm font-normal mt-1">Phone: +234 817 031 2909 | +234 902 220 4232</p>
                        </span>
                    </div>
                    <div class="flex items-start gap-5 border p-5">
                        <span class="rounded-full h-16 w-16 items-center justify-center flex bg-primary">
                            <span class="material-symbols-outlined text-white"
                                style="font-size: 40px;">diversity_1</span>
                        </span>
                        <div class="flex flex-col flex-1">
                            <h4 class="font-bold text-base lg:text-lg capitalize">Social connect</h4>
                            <div class="flex items-center gap-2 opacity-50 mt-1">
                                <a href="https://x.com" target="_blank" class="fa-brands fa-x-twitter"
                                    style="font-size: 14px"></a>
                                <a href="https://facebook.com" target="_blank"
                                    class="fa-brands fa-facebook-f" style="font-size: 14px"></a>
                                <a href="https://linkedin.com" target="_blank"
                                    class="fa-brands fa-linkedin-in" style="font-size: 14px"></a>
                                <a href="https://youtube.com" target="_blank" class="fa-brands fa-youtube"
                                    style="font-size: 14px"></a>
                            </div>
                        </div>
                    </div>
                    <iframe _ngcontent-tkf-c94="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.7629877042486!2d3.416342374479959!3d6.424490524307053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8accba3d7edb%3A0x65a5d496d60a3fda!2sLindev%20Plaza!5e0!3m2!1sen!2sno!4v1684179728497!5m2!1sen!2sno" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full h-[200px]" style="border: 0;"></iframe>
                </div>
            </div>
            <div class="w-full lg:basis-3/5">
                <div class="bg-gray-100 p-5 md:drop-shadow-sm border rounded-md ">
                    <form id="affiliateform">
                        <div class="flex flex-col gap-5">
                            <h5 class="text-sm capitalize font-bold text-center lg:text-left">Send us a quick message
                            </h5>
                            <div class="grid grid-cols-1 gap-3">
                                <div class="form-group">
                                    <label for="name" class="control-label">Your Name</label>
                                    <input name="name" id="name" type="text" class="form-control !bg-white">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label">Email</label>
                                    <input name="email" id="email" type="text" class="form-control !bg-white">
                                </div>
                                <div class="form-group">
                                    <label for="message" class="control-label">Message</label>
                                    <textarea rows="4" placeholder="Type your message here" name="country" id="country"
                                        type="text" class="form-control !bg-white"></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="flex flex-col gap-5">
                            <div class="flex item-start gap-2 mt-10">
                                <button type="button"
                                    class="w-full lg:w-max outline-none border-none transition ease-linear duration-200 hover:opacity-80 gap-3 bg-primary rounded-md p-3 px-10 text-white">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>