<!-- <footer> -->
<div class="bg-secondary">
    <div class="w-content lg:!px-0  py-20 lg:py-32 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 text-white/90 gap-5">
        <div class="flex flex-col gap-5">
            <img src="./assets/logo.png" class="w-[70px] drop-shadow-sm" alt="logo">
            <p class="text-left tracking-wide leading-6 text-sm"></p>
            <div class="flex items-center gap-4">
                <a href="" class="fa-brands fa-x-twitter text-white" style="font-size: 14px"></a>
                <a href="" class="fa-brands fa-facebook-f text-white" style="font-size: 14px"></a>
                <a href="" class="fa-brands fa-linkedin-in text-white" style="font-size: 14px"></a>
                <a href="" class="fa-brands fa-youtube text-white" style="font-size: 14px"></a>
            </div>
            <a href=""
                class="w-max rounded-sm px-6 py-3 border border-white text-white font-medium text-sm capitalize hover:bg-primary transition duration-500">Explore
                more</a>
        </div>
        <div>
            <h1 class="font-bold text-base border-b border-white/20 py-3 text-white">QUICK LINKS</h1>
            <div class="flex flex-col mt-5">
                <a href=""
                    class="text-sm font-medium py-2 text-white transition duration-300 hover:text-primary">About</a>
                <a href=""
                    class="text-sm font-medium py-2 text-white transition duration-300 hover:text-primary">Contact</a>
                <a href=""
                    class="text-sm font-medium py-2 text-white transition duration-300 hover:text-primary">Members</a>
                <a href=""
                    class="text-sm font-medium py-2 text-white transition duration-300 hover:text-primary">Governing
                    Council</a>
                <a href="" class="text-sm font-medium py-2 text-white transition duration-300 hover:text-primary">Why
                    join</a>
            </div>
        </div>
        <div>
            <h1 class="font-bold text-base border-b border-white/20 py-3 text-white">SERVICES</h1>
            <div class="flex flex-col mt-5">
                <a href=""
                    class="text-sm font-medium py-2 text-white transition duration-300 hover:text-primary">Events</a>
                <a href=""
                    class="text-sm font-medium py-2 text-white transition duration-300 hover:text-primary">Members
                    Services</a>
                <a href=""
                    class="text-sm font-medium py-2 text-white transition duration-300 hover:text-primary">Resources</a>
                <a href="" class="text-sm font-medium py-2 text-white transition duration-300 hover:text-primary">Live
                    Meeting</a>
                <a href=""
                    class="text-sm font-medium py-2 text-white transition duration-300 hover:text-primary">Community</a>
            </div>
        </div>
        <div>
            <h1 class="font-bold text-base border-b border-white/20 py-3 text-white">CONTACT US</h1>
            <div class="flex flex-col mt-5 gap-3">
                <div class="flex items-start gap-2">
                    <span class="h-10 w-10 bg-[#0F0F0F] text-white flex items-center justify-center">
                        <span class="material-symbols-outlined" style="font-size: 18px;">location_on</span>
                    </span>
                    <p class="flex-1 text-sm font-medium mb-2 text-white">Lindev Plaza (3rd Floor), 16 Amodu Ojikutu
                        Street, V.I, Lagos.</p>
                </div>
                <div class="flex items-start gap-2">
                    <span class="h-10 w-10 bg-[#0F0F0F] text-white flex items-center justify-center">
                        <span class="material-symbols-outlined" style="font-size: 18px;">email</span>
                    </span>
                    <p class="flex-1 text-sm font-medium mb-2 text-white">infonigerialpgas.com</p>
                </div>
                <div class="flex items-start gap-2">
                    <span class="h-10 w-10 bg-[#0F0F0F] text-white flex items-center justify-center">
                        <span class="material-symbols-outlined" style="font-size: 18px;">phone</span>
                    </span>
                    <p class="flex-1 text-sm font-medium mb-2 text-white">+234 817 031 2909</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-secondary text-gray-400">
        <div
            class="w-content lg:!px-0 border-t border-t-gray-500/40 flex flex-col lg:flex-row lg:justify-between lg:items-center py-3 gap-3">
            <span>© 2024 NLPG | All Right Reserved</span>
            <span>
                <a href="" class="hover:underline transition">Login</a> |
                <a href="" class="hover:underline transition">Register</a>
            </span>
            <div>
                <p>Subscribe our newsletter to get our latest update & news</p>
                <div class="flex items-center bg-white mt-2 overflow-hidden rounded-sm">
                    <input type="text" class="bg-transparent flex-1 border-none outline-none px-3">
                    <button
                        class="material-symbols-outlined h-[50px] w-[50px] flex items-center justify-center bg-primary text-white">send</button>
                </div>
            </div>
        </div>
    </div>
    <!-- </footer> -->