<page-hero />

<section>
    <div class="grid gird-cols-1 lg:grid-cols-2 gap-10 py-24 lg:py-32  overflow-hidden lg:w-[80%] 3xl:w-[80%] lg:ml-auto">
        <div class="p-5 xl:px-32">
            <div>
                <h5 class="text-sm capitalize font-boldtext-primary border-l-2 border-primary pl-3">Go LIVE</h5>
                <h2 class="font-black text-3xl text-secondary capitalize mt-2 tracking-wide">Did you know you can start a live conference?</h2>
            </div>
            <div class="flex items-center justify-between bg-gray-50 p-5 my-10">
                <span class="font-bold text-lg">Ready to try?</span>
                <span class="rounded-md bg-primary text-white font-semibold text-sm text-center p-3 min-w-40 capitalize">Go live now</span>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-4 translate-x-[120px]">
            <div class="rounded-md h-80 overflow-hidden bg-cover bg-top" [style.backgroundImage]="'url(/assets/events/B5vt6YZcByddtpT6HWlYztd4zSZEcCzIfpcOWM6N.jpg)'"></div>
            <div class="rounded-md h-80 overflow-hidden bg-cover bg-top" [style.backgroundImage]="'url(/assets/events/91RboYkk2Wiab0i0GAj198PSs1krvzpDU3dv9Crw.jpg)'"></div>
            <div class="rounded-md h-80 overflow-hidden bg-cover bg-top" [style.backgroundImage]="'url(/assets/events/4sDFyi2iM3D35qGg5qmrkf7h5lxdK8eRqptk6afI.jpg)'"></div>
        </div>
    </div>
</section>