<page-hero />

<section class="py-24 lg:py-32 bg-[#F9F9F9]">
    <div class="w-content">
        <div>
            <h5 class="text-sm capitalize  font-bold text-primary border-l-2 border-primary pl-3">Downloads</h5>
            <h2 class="font-bold text-4xl text-secondary capitalize mt-2 mb-16">Downloadable Resources</h2>

            <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-10">
                @for(item of downloadList(); track item; let index=$index) {
                    <div class="relative bg-white shadow-xl shadow-gray-200/80 border-b-4 border-primary group hover:shadow-gray-300 transition duration-500">
                        <div class="w-full h-[200px] overflow-hidden group-hover:opacity-70 transition duration-500">
                            <img src="https://www.api.nigerialpgas.com/storage/app/{{ item.thumbnail_image }}" alt="" class="w-full h-full object-cover">
                        </div>
                        <div class=" px-7 relative">
                            <a href="https://www.api.nigerialpgas.com/storage/app/{{ item.file_url}}" [download]="'Resource.pptx'" class="h-16 w-16 bg-white shadow-xl shadow-gray-200/80 flex items-center justify-center p-4 rounded-md absolute -top-[40px] border border-primary hover:bg-primary hover:text-white cursor-pointer transition duration-300">
                                <span class="material-symbols-outlined">cloud_download</span>
                            </a>
                            <div class="flex flex-col gap-2 pt-8 pb-6">
                                <p class="font-bold py-3 capitalize text-lg mt-7 tracking-tight text-[#071C1F]/90">{{ item.title }}</p>
                            </div>
                        </div>
                        <span class="absolute top-0 left-0 m-2 text-2xs bg-amber-200 rounded-xl px-3 py-0.5 capitalize">{{ item.package_desc }}</span>
                    </div>
                }
            </div>
        </div>
    </div>
</section>