<page-hero />

<section>
    <div class="py-24 lg:py-32">
        <div class="w-content">
            <div class="flex flex-col gap-20 text-sm">
                <div>
                    <h5 class="text-sm capitalize font-boldtext-primary border-l-2 border-primary pl-3">UPDATE</h5>
                    <h2 class="font-black text-3xl text-secondary capitalize mt-2 tracking-wide">Latest Updates from us</h2>
                </div>
                <div class="relative">
                    <swiper-container init="true" class="">
                        @for(item of streams(); track item) {
                            @if(item.type == 'audio') {
                                <swiper-slide class="h-[300px] lg:h-[400px] px-5">
                                    <div class="w-full h-full flex items-center justify-center bg-center bg-cover rounded-xl overflow-hidden" [style.backgroundImage]="'url(' + item.thumbnail + ')'">
                                        <audio [src]="sanitizeUrl(item.src)" controls>
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </swiper-slide>
                            } @else if (item.type == 'youtube') {
                                <swiper-slide class="h-[300px] lg:h-[400px] px-5">
                                    <div class="w-full h-full rounded-xl  overflow-hidden">
                                        <iframe class="w-full h-full"  [src]="sanitizeUrl(item.src)"></iframe>
                                    </div>
                                </swiper-slide>
                            }
                        }
                    </swiper-container>

                    <!-- Swipper controls -->
                    <div (click)="swiperPreviousNext()" class="absolute top-1/2 left-0 z-10 flex items-center h-10 w-10 justify-center material-symbols-outlined text-gray-300 text-4xl mx-1 lg:mx-3 p-5 lg:p-8 cursor-pointer hover:bg-gray-500/50 transition duration-300 rounded-full">arrow_back_ios</div>

                    <div (click)="swiperSlideNext()" class="absolute top-1/2 right-0 z-10 flex items-center h-10 w-10 justify-center material-symbols-outlined text-gray-300 text-4xl mx-1 lg:mx-3 p-5 lg:p-8 cursor-pointer hover:bg-gray-500/50 transition duration-300 rounded-full">arrow_forward_ios</div>

                
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-24 lg:py-32 bg-[#F9F9F9]">
    <div class="w-content">
        <div>
            <h5 class="text-sm capitalize  font-bold text-primary border-l-2 border-primary pl-3">News</h5>
            <h2 class="font-bold text-4xl text-secondary capitalize mt-2 mb-16">News Publications</h2>

            <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-10">
                @for(item of newsList(); track item; let index=$index) {
                    <div
                        class="bg-white shadow-xl shadow-gray-200/80 border-b-4 border-primary group hover:shadow-gray-300 transition duration-500">
                        <div class="w-full h-[200px] overflow-hidden group-hover:opacity-70 transition duration-500">
                            <img src="https://www.api.nigerialpgas.com/storage/app/{{ item.image_thumbnail }}" alt="" class="w-full object-cover">
                        </div>
                        <div class=" px-7 relative">
                            <span class="h-16 w-20 bg-white shadow-xl shadow-gray-200/80 flex items-center justify-center p-4 rounded-md absolute -top-[40px] border border-primary">
                                <span class="font-black text-sm leading-tight">{{ formatDate(item.updated_at) }}</span>
                            </span>
                            <div class="flex flex-col gap-2 pt-8 pb-6">
                                <p class="font-bold py-3 capitalize text-lg mt-7 tracking-tight text-[#071C1F]/90">{{ item.title.toLowerCase() }}</p>
                                <div class="text-opacity-80">{{ item.short_description }} </div>
                                <a href="news/{{ item.slug }}" class="font-semibold capitalize text-sm text-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>