<header>
    <div class="lg:w-[90%] 3xl:w-[80%] mx-auto">
        <div class="bg-secondary text-white hidden lg:block mini-header">
            <div class="flex lg:justify-between lg:items-center lg:px-5 lg:py-3">
                <ul class="flex gap-x-10 text-xs m-0">
                    <li>Lindev Plaza (3rd Floor), 16 Amodu Ojikutu Street, V.I, Lagos</li>
                    <li>+234 817 031 2909</li>
                    <li>infonigerialpgas.com</li>
                </ul>
                <div class="flex items-center gap-3 ">
                    <a href="" class="fa-brands fa-x-twitter text-white" style="font-size: 12px"></a>
                    <a href="" class="fa-brands fa-facebook-f text-white" style="font-size: 12px"></a>
                    <a href="" class="fa-brands fa-linkedin-in text-white" style="font-size: 12px"></a>
                    <a href="" class="fa-brands fa-youtube text-white" style="font-size: 12px"></a>
                </div>
            </div> 
        </div>
        <div class="bg-white lg:py-2">
            <div class="flex lg:justify-between lg:items-center lg:px-5">
                <div class="w-full lg:w-[300px] flex items-center justify-between shadow-gray-900 shadow lg:shadow-none py-3 lg:py-0">
                    <span class="flex items-center gap-1">
                        <img src="./assets/logo.png" alt="" srcset="./assets/logo.png" class="w-12">
                        <span class="font-black text-xl">NLPGA</span>
                    </span>
                    <span class="lg:hidden p-2 lg:p-0" (click)="openNav()">
                        <i id="toggle-open" class="fa-sharp fa-solid fa-bars" style="font-size: 20px;"></i>
                    </span>
                </div>
                <app-nav id="nav" class="h-screen w-full lg:h-auto absolute lg:relative lg:top-0 lg:flex-1" ></app-nav>
            </div>
        </div>
    </div>
</header>
